<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
	</configSections>
	<log4net>
		<root>
			<!--日志等级 OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL-->
			<level value="ALL"/>
			<!--<appender-ref ref="SmtpAppender"/>-->
			<appender-ref ref="RollingFileAppender"/>
			<!--<appender-ref ref="ColoredConsoleAppender"/>-->
		</root>

		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<!--日志的存储路径-->
			<file value="log/" />
			<!--是否向文件中追加日志-->
			<appendToFile value="true" />
			<!--滚动模式 复合-->
			<rollingStyle value="Composite" />
			<!--计数类型为1，2，3…-->
			<!--<param name="CountDirection" value="1"/>-->
			<!--日志文件名是否是固定不变的 不变则只写到一个文件中-->
			<staticLogFileName value="false" />
			<!--日志文件名格式为:yyyy-MM-dd.log-->
			<datePattern value="yyyyMMdd'.log'" />
			<!--log保存天数-->
			<maxSizeRollBackups value="10" />
			<!--日志文件大小-->
			<maximumFileSize value="10MB" />
			<!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
			<param name="MaxSizeRollBackups" value="10" />

			<!--多线程时采用最小锁定-->
			<!--<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>-->
			
			<!--其中layout节点的配置说明：
				%m(message):输出的日志消息；
				%n(newline):换行；
				%d(datetime):输出当前语句运行的时刻；
				%r(runtime):输出程序从运行到执行到当前语句时消耗的毫秒数；
				%t(threadid):当前语句所在的线程ID ；
				%p(priority): 日志的当前日志级别；
				%c(class):当前日志对象的名称；
				%L：输出语句所在的行号；
				%F：输出语句所在的文件名；
				%-10：表示最小长度为10，如果不够，则用空格填充；-->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger: %message%newline"/>
			</layout>
		</appender>

		<appender name="ColoredConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger: %message%newline"/>
			</layout>
		</appender>

		<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
			<to value="bobby.chopra@prcm.com"/>
			<from value="TagFileUploader@prcm.com"/>
			<subject value="TagFileUploader ERROR"/>
			<smtpHost value="prc-mn-ex01"/>
			<bufferSize value="512"/>
			<lossy value="true"/>
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="ERROR"/>
			</evaluator>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger: %message%newline"/>
			</layout>
		</appender>
	</log4net>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

</configuration>